/* Mixed-ins */
.clean-row {
  padding: 0em !important;
  margin: 0em !important; }

.google-map-container {
  width: 100vw;
  height: 100vh; }

.test {
  width: 100%; }

.home-background {
  height: 100vh;
  background: #f27a11;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f7cf89, #f27a11);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f7cf89, #f27a11);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.home-background-color {
  height: 42.5vh;
  border-bottom: 0.1em solid #F2994A;
  background: #5dc0dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cbda80, #5dc0dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cbda80, #5dc0dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.home-splash-block {
  text-align: center; }

.home-splash-img {
  margin-top: 3.55em;
  width: 75em; }

.home-splash-text {
  text-align: center;
  margin-top: 0.75em;
  color: #3c8846;
  text-shadow: 1px 1px #fad073;
  font-size: 2.15em; }

.login-btn-block {
  margin-top: 1.55em;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.login-btn {
  width: 16em;
  font-size: 1.45em !important; }
