.google-map-container {
    width: 100vw;
    height: 100vh;
}
.clean-row {
    margin: 0em;
    padding: 0em;
}

.test {
    color: white;
    width: 100%;
}

.home-background {
    height: 100vh;
    // background: #eec682;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eec682, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eec682, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.home-background-color {
    height: 45vh;
    border-bottom: 0.1em solid #F2994A;
    // #b8d38c;
    background: #5dc0dc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cbda80, #5dc0dc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cbda80, #5dc0dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-splash-block {
    text-align: center;
}
.home-splash-img {
    margin-top: 3.55em;
    width: 75em;
}
.home-splash-text {
    text-align: center;
    margin-top: 0.75em;
    color: rgb(60, 136, 70);
    font-size: 2.15em;
}
.login-btn-block {
    margin-top: 1.55em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.login-btn {
    width: 16em;
    font-size: 1.45em !important;
}